In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Path to csv file
cities_file = os.path.join('.','Resources','output_cities.csv')
cities_file

'.\\Resources\\output_cities.csv'

In [15]:
# Read in csv - convert to pandas DataFrame
cities_data = pd.read_csv(cities_file)
cities_df = pd.DataFrame(cities_data)
cities_df.rename(columns={'Unnamed: 0' : 'City_ID'}, inplace = True)
cities_df.head()

,City_ID,City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Latitude,Longditude,Country,Date_Time
0,0,rikitea,73.47,66,99,12.82,-23.12,-134.97,PF,1588574897
1,1,mahebourg,80.60,74,40,13.87,-20.41,57.70,MU,1588574897
2,2,sola,80.60,94,90,5.53,-13.88,167.55,VU,1588574897
3,3,busselton,69.01,63,25,16.89,-33.65,115.33,AU,1588574898
4,4,talnakh,23.00,85,69,33.55,69.49,88.40,RU,1588574898

In [16]:
# Output to html format
cities_df.to_html('./Resources/cities.html', index=False)